.wrapper {
  display: grid;
  place-items: center;
  min-height: 10vh;
}

.grid_container {
  margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    width: 100vw;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.779);
}
